<!--<div *ngIf="dataUser.rol !== 'Administrador'" class="h-screen w-full flex overflow-hidden">-->
<div class="h-screen w-full flex overflow-hidden">
  <app-sidebar></app-sidebar>

  <form class="mx-12 my-2 overflow-auto" [formGroup]="rubric">
    <h3>Rúbrica:</h3>

    <div
      formArrayName="qualificationCriteria"
      *ngFor="let control of qualificationCriteria.controls; index as i"
    >
      <div [formGroupName]="i">
        <label>Criterio:</label><br />
        <input
          class="
            focus:border-blue-500
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none
          "
          type="text"
          placeholder="Criterio"
          formControlName="qualificationCriteria"
        />
        <button (click)="deleteCriteria(i)">Borrar</button>
      </div>
    </div>
    <button (click)="addCriteria()">+ Añadir</button>

    <hr />

    <label>Rango de calificación:</label><br />
    <input
      class="
        focus:border-blue-500
        appearance-none
        border
        rounded
        w-full
        py-2
        px-3
        text-gray-700
        leading-tight
        focus:outline-none
      "
      type="text"
      formControlName="ratingRange"
    />

    <br />
    <button (click)="saveRubric()">Guardar Rúbrica</button>
  </form>
</div>
