<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2
      *ngIf="dataUser.rol !== 'Ponente'"
      class="py-4 text-2xl font-semibold text-gray-800 border-b"
    >
      Listado de Participantes por asignar
    </h2>

    <table
      *ngIf="dataUser.rol == 'Organizador'"
      class="w-full my-6 px-3 text-center"
    >
      <thead>
        <tr class="border-b-2 border-gray-200 bg-gray-200">
          <th class="px-5 py-3 text-sm text-gray-600">
            Nombre de Participantes
          </th>
          <th class="px-5 py-3 text-sm text-gray-600">Título</th>
          <th
            *ngIf="dataUser.rol == 'Organizador'"
            class="px-5 py-3 text-sm text-gray-600"
          >
            Asignación
          </th>
        </tr>
      </thead>
      <!--   BODY FOR PARTICIPANTS  -->
      <tbody *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Revisor'">
        <tr
          *ngFor="let element of participantsPostulations"
          class="border-b border-gray-200 hover:bg-gray-100"
        >
          <td
            *ngIf="dataUser.rol !== 'Ponente'"
            class="px-5 py-5 flex-1 text-sm text-center"
          >
            <p class="text-gray-900">{{ element.name }}</p>
          </td>
          <td class="px-5 py-5e text-sm text-center">
            <p class="text-gray-900">{{ element.title }}</p>
          </td>
          <td
            *ngIf="dataUser.rol == 'Organizador'"
            class="px-5 py-5 flex-1 text-sm text-center"
          >
            <button
              routerLink="/dashboard/assistants-participants"
              class="tooltip appearance-none focus:outline-none ml-2"
            >
              Asignar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
