<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2
      *ngIf="dataUser.rol !== 'Ponente'"
      class="py-4 text-2xl font-semibold text-gray-800 border-b"
    >
      Listado de Participantes por asignar
    </h2>

    <table
      *ngIf="dataUser.rol == 'Organizador'"
      class="w-full my-6 px-3 text-center"
    >
      <thead>
        <tr class="border-b-2 border-gray-200 bg-gray-200">
          <th class="px-5 py-3 text-sm text-gray-600">
            Nombre de Participantes
          </th>
          <th class="px-5 py-3 text-sm text-gray-600">Título</th>
          <th
            *ngIf="dataUser.rol == 'Organizador'"
            class="px-5 py-3 text-sm text-gray-600"
          >
            Acciones
          </th>
        </tr>
      </thead>
      <!--   BODY FOR PARTICIPANTS  -->
      <tbody *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Revisor'">
        <tr
          *ngFor="let element of participantsPostulations"
          class="border-b border-gray-200 hover:bg-gray-100"
        >
          <td
            *ngIf="dataUser.rol !== 'Ponente'"
            class="px-5 py-5 flex-1 text-sm text-center"
          >
            <p class="text-gray-900">{{ element.name }}</p>
          </td>
          <td class="px-5 py-5e text-sm text-center">
            <p class="text-gray-900">{{ element.title }}</p>
          </td>
          <td
            *ngIf="
              dataUser.rol == 'Organizador' && element.status == 'Pendiente'
            "
            class="px-5 py-5 flex text-sm justify-center"
          >
            <button
              (click)="approveRejectParticipation(element._id, 'Aprobado')"
              class="
                align-middle
                bg-green-500
                hover:bg-green-600
                text-center
                py-1
                px-4
                text-white text-sm
                font-semibold
                rounded-lg
                shadow-lg
                focus:outline-none
                flex
                items-center
                mx-1
              "
            >
              <i class="fas fa-check-circle mr-1"></i>
              Aprobar
            </button>

            <button
              (click)="approveRejectParticipation(element._id, 'Rechazado')"
              class="
                align-middle
                bg-red-500
                hover:bg-red-600
                text-center
                py-1
                px-4
                text-white text-sm
                font-semibold
                rounded-lg
                shadow-lg
                focus:outline-none
                flex
                items-center
                mx-1
              "
            >
              <i class="fas fa-times-circle mr-1"></i>
              Rechazar
            </button>
          </td>

          <td
            *ngIf="
              dataUser.rol == 'Organizador' && element.status != 'Pendiente'
            "
            class="px-5 py-5 flex text-sm justify-center"
          >
            <button
              disabled
              class="
                align-middle
                bg-gray-500
                hover:bg-gray-600
                text-center
                py-1
                px-4
                text-white text-sm
                font-semibold
                rounded-lg
                shadow-lg
                focus:outline-none
                flex
                items-center
                mx-1
              "
            >
              <i class="fas fa-bookmark mr-1"></i>
              {{ element.status }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
