<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2 class="py-4 text-2xl font-semibold text-gray-800 border-b">
      Editar perfil
    </h2>

    <form
      [formGroup]="user"
      class="flex lg:flex-row md:flex-row flex-col text-gray-700 px-3"
    >
      <div class="w-1/2 p-2">
        <div class="flex flex-col mt-4 px-4">
          <label class="font-thin text-xl mr-5"> Nombres: </label>
          <input
            formControlName="names"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="text"
            placeholder="Ej: Marco Antonio"
          />
        </div>

        <div class="flex flex-col mt-4 px-4">
          <label class="font-thin text-xl mr-5"> Apellidos: </label>
          <input
            formControlName="last_names"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="text"
            placeholder="Ej: Jumbo Estrada"
          />
        </div>

        <div
          *ngIf="idUser.rol !== 'Participante'"
          class="flex flex-col mt-4 px-4"
        >
          <label class="font-thin text-xl mr-5"> Teléfono: </label>
          <input
            formControlName="phone"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="text"
            placeholder="Ej: 0999999999"
            maxlength="10"
          />
        </div>

        <div
          *ngIf="idUser.rol !== 'Participante'"
          class="flex flex-col mt-4 px-4"
        >
          <label class="font-thin text-xl mr-5"> Contraseña: </label>
          <input
            formControlName="password"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="password"
            placeholder="*********"
          />
        </div>
      </div>

      <div class="w-1/2 p-2">
        <div
          *ngIf="idUser.rol == 'Organizador' || idUser.rol == 'Ponente'"
          class="flex flex-col mt-4 px-4"
        >
          <label class="font-thin text-xl mr-5"> Foto de Perfil: </label>
          <input
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="file"
            (change)="handleFileInput($event)"
          />
        </div>

        <div
          *ngIf="idUser.rol !== 'Participante' && profile_picture_url !== ''"
          class="flex mt-4 w-full justify-center"
        >
          <img [src]="profile_picture_url" class="w-64" alt="Foto de Perfil" />
        </div>

        <div class="flex flex-col my-16">
          <div class="flex">
            <button
              routerLink="../../congresses"
              class="
                mx-auto
                focus:outline-none
                py-1
                px-4
                flex
                items-center
                rounded-lg
                shadow-sm
                text-center text-gray-600
                bg-white
                hover:bg-gray-100
                font-medium
                border
              "
            >
              <i class="fas fa-undo mr-1"></i>
              Regresar
            </button>
            <button
              (click)="putUser()"
              class="
                mx-auto
                focus:outline-none
                border border-transparent
                py-1
                px-4
                flex
                items-center
                rounded-lg
                shadow-sm
                text-center text-white
                bg-blue-500
                hover:bg-blue-600
                font-medium
              "
            >
              <i class="fas fa-save mr-1"></i>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
