<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2
      *ngIf="dataUser.rol !== 'Ponente'"
      class="py-4 text-2xl font-semibold text-gray-800 border-b"
    >
      Lista de Ponencias
    </h2>

    <div class="w-full py-4 flex justify-center">
      <div class="w-1/3 flex flex-col">
        <label class="font-thin text-xl mr-5"> Área de conocimiento: </label>
        <select
          class="
            focus:border-blue-500
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none
          "
          [(ngModel)]="selected_knowledge_area"
          name="selected_knowledge_area"
          (change)="getPostulationsByAreaOfKnowledge()"
        >
          <option value="">Todas las ponencias...</option>
          <option *ngFor="let area of knowledge_area" value="{{ area }}">
            {{ area }}
          </option>
        </select>
      </div>
    </div>

    <table
      class="w-full my-4 px-3"
      *ngIf="
        (projectsSpeaker.length > 0 && dataUser.rol == 'Ponente') ||
        dataUser.rol == 'Participante'
      "
    >
      <thead>
        <tr class="border-b-2 border-gray-200 bg-gray-200">
          <th class="px-5 py-3 text-center text-sm text-gray-600">
            Título ponencia
          </th>
          <th class="px-5 py-3 text-center text-sm text-gray-600">Resumen</th>
          <th class="px-5 py-3 text-center text-sm text-gray-600">
            Datos del Ponente
          </th>
          <th
            *ngIf="dataUser.rol !== 'Revisor'"
            class="px-5 py-3 text-center text-sm text-gray-600"
          >
            Acciones
          </th>
        </tr>
      </thead>
      <!--   BODY FOR PARTICIPANTS -->
      <tbody *ngIf="dataUser.rol !== 'Ponente'">
        <tr
          *ngFor="
            let postulation of postulations
              | paginate: { itemsPerPage: 5, currentPage: page }
          "
          class="border-b border-gray-200 hover:bg-gray-100 text-center"
        >
          <td class="px-1 py-5 text-sm">
            <p class="text-gray-900">{{ postulation.title_project }}</p>
          </td>
          <td class="px-5 py-5 text-sm">
            <p class="text-gray-900">{{ postulation.summary_project }}</p>
          </td>

          <td class="px-1 py-5 text-sm text-center">
            <button
              (click)="getUserById(postulation.person_id); handleModal(true)"
              class="tooltip appearance-none focus:outline-none mr-2"
            >
              <i class="fas fa-address-book text-blue-800 text-xl"></i>
              <span class="tooltiptext">Datos del autor</span>
            </button>
          </td>
          <!-- 
          <td
            *ngIf="dataUser.rol !== 'Ponente'"
            class="px-5 py-5 flex-1 text-sm text-center"
          >
            <button class="tooltip appearance-none focus:outline-none ml-2">
              <span class="tooltiptext">Postular</span>
            </button>
          </td> -->

          <td
            *ngIf="dataUser.rol == 'Participante'"
            class="px-5 py-5 flex text-sm justify-center"
          >
            <button
              (click)="postParticipation(postulation._id)"
              class="
                align-middle
                bg-gray-500
                hover:bg-gray-600
                text-center
                py-1
                px-4
                text-white text-sm
                font-semibold
                rounded-lg
                shadow-lg
                focus:outline-none
                flex
                items-center
                mx-1
              "
            >
              <i class="fas fa-pen mr-1"></i>
              Postular
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="w-full flex justify-center">
      <pagination-controls
        *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Revisor'"
        class="flex text-center"
        (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      >
      </pagination-controls>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  id="modal"
  class="
    flex
    items-center
    justify-center
    fixed
    left-0
    bottom-0
    w-full
    h-full
    bg-gray-800 bg-opacity-75
  "
>
  <div class="flex flex-col w-2/3 bg-white">
    <div class="flex w-full px-3 items-center justify-between">
      <div class="h-auto text-2xl">
        <i class="fas fa-user-circle text-blue-800 text-2xl mr-2"></i>
        Datos del Ponente
      </div>

      <div class="text-2xl">
        <i
          (click)="handleModal(false)"
          class="fas fa-window-close text-red-700 text-2xl cursor-pointer"
        ></i>
      </div>
    </div>

    <div
      class="
        flex
        w-full
        h-auto
        py-6
        px-10
        items-center
        justify-between
        bg-gray-200
        rounded
        text-gray-800
      "
    >
      <div class="flex flex-col w-1/2 justify-center" *ngIf="userData">
        <div class="flex py-2">
          <h2 class="font-bold mr-3">Nombres:</h2>
          <p>{{ userData.names }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold mr-3">Apellidos:</h2>
          <p>{{ userData.last_names }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold mr-3">Rol:</h2>
          <p>{{ userData.rol }}</p>
        </div>
      </div>

      <div
        class="flex w-1/2 justify-center"
        *ngIf="
          (dataUser.rol == 'Organizador' || dataUser.rol == 'Participante') &&
          profile_picture_url !== ''
        "
      >
        <img [src]="profile_picture_url" class="w-64" alt="Foto de Perfil" />
      </div>
    </div>
  </div>
</div>
