<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2 class="py-4 text-2xl font-semibold text-gray-800 border-b">
      Lista de Conferencias
    </h2>

    <hr />

    <table
      class="w-full px-3 my-4 text-center"
      *ngIf="
        conferences ||
        dataUser.rol == 'Organizador' ||
        dataUser.rol == 'Participante'
      "
    >
      <thead>
        <tr class="border-b-2 border-gray-200 bg-gray-200">
          <th class="px-5 py-3 text-sm text-gray-600">
            Información de Ponencia
          </th>
          <th class="px-5 py-3 text-sm text-gray-600">Datos del Autor</th>
          <th class="px-5 py-3 text-sm text-gray-600">Dirección Web</th>
          <th class="px-5 py-3 text-sm text-gray-600">Fecha</th>
          <th class="px-5 py-3 text-sm text-gray-600">Hora</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let conference of conferences"
          class="border-b border-gray-200 hover:bg-gray-100"
        >
          <td class="px-1 py-5 text-sm flex justify-center">
            <button
              (click)="
                getPostulation(conference.postulation_id); handleModal(true)
              "
              class="
                focus:outline-none
                border border-transparent
                py-1
                px-4
                rounded-lg
                shadow-sm
                text-center text-white
                bg-blue-500
                hover:bg-blue-600
                font-medium
                flex
                items-center
                mx-2
              "
            >
              <i class="fas fa-info mr-1"></i>
              Info
            </button>
          </td>
          <td>
            <button
              class="tooltip appearance-none focus:outline-none mr-2"
              (click)="
                getUserById(conference.reviewer_id); handleModalSpeaker(true)
              "
            >
              <i class="fas fa-address-book text-blue-800 text-xl"></i>
              <span class="tooltiptext">Datos del Autor</span>
            </button>
          </td>
          <td class="px-5 py-5 flex-1 text-sm text-center">
            <a
              class="tooltip appearance-none focus:outline-none mr-2"
              href="{{ conference.link }}"
              target="_blank"
            >
              {{ conference.link }}
            </a>
          </td>
          <td class="px-5 py-5e text-sm text-center">
            <p class="text-gray-900">
              {{ conference.date | date: "dd/MM/yyyy" }}
            </p>
          </td>
          <td class="px-5 py-5e text-sm text-center">{{ conference.hour }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!conferences" class="w-full flex justify-center">
      <p class="font-thin">No hay conferencias para Mostrar</p>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  *ngIf="showModal"
  class="
    flex
    items-center
    justify-center
    fixed
    left-0
    bottom-0
    w-full
    h-full
    bg-gray-800 bg-opacity-75
    z-50
  "
>
  <div class="flex flex-col w-2/3 h-auto p-3 bg-white rounded">
    <h1 class="w-full h-full text-center uppercase py-3 font-bold text-md">
      Información de Ponencia
    </h1>

    <hr />

    <div
      class="
        flex
        w-full
        h-auto
        py-6
        px-10
        items-center
        justify-between
        bg-gray-200
        rounded
        text-gray-800
      "
    >
      <table class="w-full">
        <thead>
          <tr class="flex w-full text-center">
            <th class="border border-black w-1/2 px-2 bg-blue-500">Título</th>
            <th class="border border-black w-1/2 px-2">
              {{ postulationData.title_project }}
            </th>
          </tr>

          <tr class="flex w-full text-center">
            <th class="border border-black w-1/2 px-2 bg-blue-500">Resumen</th>
            <th class="border border-black w-1/2 px-2">
              {{ postulationData.summary_project }}
            </th>
          </tr>

          <tr class="flex w-full text-center">
            <th class="border border-black w-1/2 px-2 bg-blue-500">
              Área de conocimiento
            </th>
            <th class="border border-black w-1/2 px-2">
              {{ postulationData.knowledge_area }}
            </th>
          </tr>
        </thead>
      </table>
    </div>

    <hr />
    <div class="py-2 w-full flex justify-end">
      <button
        (click)="handleModal(false)"
        class="
          align-middle
          bg-red-500
          hover:bg-red-600
          text-center
          py-1
          px-4
          text-white text-sm
          font-semibold
          rounded-lg
          shadow-lg
          focus:outline-none
          flex
          items-center
        "
      >
        <i class="fas fa-window-close mr-1"></i>
        Regresar
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="showModalSpeaker"
  class="
    flex
    items-center
    justify-center
    fixed
    left-0
    bottom-0
    w-full
    h-full
    bg-gray-800 bg-opacity-75
    z-50
  "
>
  <div class="flex flex-col w-2/3 h-auto p-3 bg-white rounded">
    <h1 class="w-full h-full text-center uppercase py-3 font-bold text-md">
      Datos del Autor
    </h1>

    <hr />

    <div
      class="
        flex
        w-full
        h-auto
        py-6
        px-10
        items-center
        justify-between
        bg-gray-200
        rounded
        text-gray-800
      "
    >
      <div class="flex flex-col w-1/2 justify-center" *ngIf="userData">
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Nombres:</h2>
          <p class="w-1/2">{{ userData.names }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Apellidos:</h2>
          <p class="w-1/2">{{ userData.last_names }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Rol:</h2>
          <p class="w-1/2">{{ userData.rol }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Tipo de Identificación:</h2>
          <p class="w-1/2">{{ userData.type_dni }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Número de identificación:</h2>
          <p class="w-1/2">{{ userData.dni }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Nivel académico:</h2>
          <p class="w-1/2">{{ userData.level_academy }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Titulo Académico:</h2>
          <p class="w-1/2">{{ userData.title }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Teléfono:</h2>
          <p class="w-1/2">{{ userData.phone }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Correo Electrónico:</h2>
          <p class="w-1/2">{{ userData.email }}</p>
        </div>
      </div>

      <div
        class="flex w-1/2 justify-center"
        *ngIf="
          (dataUser.rol == 'Organizador' || dataUser.rol == 'Participante') &&
          profile_picture_url !== ''
        "
      >
        <img [src]="profile_picture_url" class="w-64" alt="Foto de Perfil" />
      </div>
    </div>

    <hr />
    <div class="py-2 w-full flex justify-end">
      <button
        (click)="handleModalSpeaker(false)"
        class="
          align-middle
          bg-red-500
          hover:bg-red-600
          text-center
          py-1
          px-4
          text-white text-sm
          font-semibold
          rounded-lg
          shadow-lg
          focus:outline-none
          flex
          items-center
        "
      >
        <i class="fas fa-window-close mr-1"></i>
        Regresar
      </button>
    </div>
  </div>
</div>
