<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2
      *ngIf="dataUser.rol !== 'Ponente'"
      class="py-4 text-2xl font-semibold text-gray-800 border-b"
    >
      Lista de Postulaciones
    </h2>

    <div
      class="flex border-b justify-between px-3"
      *ngIf="dataUser.rol == 'Ponente'"
    >
      <div>
        <h2 class="py-4 text-2xl font-semibold text-gray-800">
          Postulaciones Realizadas
        </h2>
      </div>
      <div>
        <button
          *ngIf="congressEnabled"
          routerLink="../post-postulation"
          class="
            focus:outline-none
            py-5
            text-center text-gray-700
            bg-white
            hover:text-black
            font-medium
          "
        >
          <i class="fa fa-plus pr-2"></i>Nueva Postulación
        </button>
      </div>
    </div>

    <div
      *ngIf="dataUser.rol == 'Organizador'"
      class="w-full flex justify-center py-6"
    >
      <div class="w-1/3 flex flex-col">
        <label class="font-thin text-xl mr-5"> Área de conocimiento: </label>
        <select
          class="
            focus:border-blue-500
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none
          "
          [(ngModel)]="selected_knowledge_area"
          name="selected_knowledge_area"
          (change)="getPostulationsByAreaOfKnowledge()"
        >
          <option value="">Todas las áreas...</option>
          <option *ngFor="let area of knowledge_area" value="{{ area }}">
            {{ area }}
          </option>
        </select>
      </div>
    </div>

    <table
      class="w-full px-3 my-4 text-center"
      *ngIf="
        (projectsSpeaker.length > 0 && dataUser.rol == 'Ponente') ||
        dataUser.rol == 'Organizador' ||
        dataUser.rol == 'Revisor'
      "
    >
      <thead>
        <tr class="border-b-2 border-gray-200 bg-gray-200">
          <th class="px-5 py-3 text-left text-sm text-gray-600">
            Título del Proyecto
          </th>
          <th
            *ngIf="dataUser.rol == 'Ponente'"
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Resumen
          </th>
          <th
            *ngIf="dataUser.rol == 'Revisor'"
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Resumen
          </th>
          <th
            *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Revisor'"
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Datos del Autor
          </th>
          <th class="px-5 py-3 text-left text-sm text-gray-600">
            Área de Conocimiento
          </th>
          <th
            *ngIf="dataUser.rol == 'Revisor'"
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Datos del Autor
          </th>
          <th
            *ngIf="dataUser.rol == 'Ponente'"
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Archivo
          </th>
          <th
            *ngIf="dataUser.rol !== 'Revisor'"
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Estado
          </th>
          <th
            *ngIf="dataUser.rol == 'Organizador'"
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Observaciones
          </th>
          <th
            *ngIf="
              dataUser.rol !== 'Ponente' &&
              dataUser.rol !== 'Revisor' &&
              congressEnabled
            "
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Asignación de Participantes
          </th>
          <!-- ESTADO PARA REVISOR CALIFICACIONES -->
          <th
            *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Organizador'"
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Estado
          </th>
          <th
            *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Organizador'"
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Nota Final
          </th>
          <th
            *ngIf="
              dataUser.rol !== 'Ponente' &&
              dataUser.rol !== 'Organizador' &&
              congressEnabled
            "
            class="px-5 py-3 text-left text-sm text-gray-600"
          >
            Calificar
          </th>
          <!-- ESTADO PARA REVISOR CALIFICACIONES -->
        </tr>
      </thead>

      <!--   BODY FOR ORGANIZER   -->
      <tbody *ngIf="dataUser.rol == 'Organizador'">
        <tr
          *ngFor="
            let postulation of postulationsOrganizer
              | paginate: { itemsPerPage: 5, currentPage: page }
          "
          class="border-b border-gray-200 hover:bg-gray-100"
        >
          <td class="px-1 py-5 text-sm text-center">
            <p class="text-gray-900">{{ postulation.title_project }}</p>
          </td>
          <td
            *ngIf="dataUser.rol !== 'Ponente'"
            class="px-5 py-5 flex-1 text-sm text-center"
          >
            <button
              (click)="getUserById(postulation.person_id)"
              (click)="handleModal(true)"
              class="tooltip appearance-none focus:outline-none mr-2"
            >
              <i class="fas fa-address-book text-blue-800 text-xl"></i>
              <span class="tooltiptext">Datos del Autor</span>
            </button>
          </td>
          <td class="px-5 py-5e text-sm text-center">
            <p class="text-gray-900">{{ postulation.knowledge_area }}</p>
          </td>
          <td
            *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Revisor'"
            class="px-5 py-5e text-sm text-center"
          >
            <div
              *ngIf="
                postulation.status !== 'Aprobado' &&
                postulation.status !== 'Reprobado'
              "
            >
              <button
                id="btn"
                class="tooltip appearance-none focus:outline-none mr-2"
              >
                <i class="fas fa-clock text-blue-700 text-xl"></i>
                <span
                  class="
                    tooltip
                    appearance-none
                    focus:outline-none
                    mr-2
                    tooltiptext
                  "
                  >Pendiente</span
                >
              </button>
            </div>
            <div
              *ngIf="
                postulation.status !== 'Pendiente' &&
                postulation.status !== 'Reprobado'
              "
            >
              <button class="tooltip appearance-none focus:outline-none mr-2">
                <i class="fas fa-thumbs-up text-green-700 text-xl"></i>
                <span
                  class="
                    tooltip
                    appearance-none
                    focus:outline-none
                    mr-2
                    tooltiptext
                  "
                  >Aprobado</span
                >
              </button>
            </div>
            <div
              *ngIf="
                postulation.status !== 'Aprobado' &&
                postulation.status !== 'Pendiente'
              "
            >
              <button class="tooltip appearance-none focus:outline-none mr-2">
                <i class="fas fa-thumbs-down text-red-700 text-xl"></i>
                <span
                  class="tooltip appearance-none focus:outline-none tooltiptext"
                  >Reprobado</span
                >
              </button>
            </div>
          </td>
          <td class="px-5 py-5 text-sm text-center">
            <button
              class="tooltip appearance-none focus:outline-none mr-2"
              (click)="
                getRemarkQualification(postulation._id); handleModalRemark(true)
              "
            >
              <i class="fas fa-info-circle text-xl text-blue-700"></i>
              <span class="tooltiptext">Observaciones</span>
            </button>
          </td>

          <td
            *ngIf="
              dataUser.rol == 'Organizador' && postulation.status == 'Aprobado'
            "
            class="px-5 py-5 flex justify-center text-sm"
          >
            <button
              *ngIf="congressEnabled"
              (click)="assignParticipants(postulation._id)"
              class="
                align-middle
                bg-blue-500
                hover:bg-blue-600
                text-center
                py-1
                px-4
                text-white text-sm
                font-semibold
                rounded-lg
                shadow-lg
                focus:outline-none
                flex
                items-center
                mx-1
              "
            >
              <i class="fas fa-map-signs mr-1"></i>
              Asignar
            </button>
          </td>
        </tr>
      </tbody>

      <!--   BODY FOR REVIEWER   -->
      <tbody *ngIf="dataUser.rol == 'Revisor'">
        <tr
          *ngFor="
            let knowledge_area of knowledge_areas
              | paginate: { itemsPerPage: 5, currentPage: page }
          "
          class="border-b border-gray-200 hover:bg-gray-100"
        >
          <td class="px-1 py-5 text-sm text-center">
            <p class="text-gray-900">{{ knowledge_area.title_project }}</p>
          </td>
          <td class="px-5 py-5 text-sm text-justify">
            <p class="text-gray-900">
              {{ knowledge_area.summary_project }}
            </p>
          </td>
          <td class="px-5 py-5e text-sm text-center">
            <p class="text-gray-900">{{ knowledge_area.knowledge_area }}</p>
          </td>
          <td
            *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Organizador'"
            class="px-5 py-5 flex-1 text-sm text-center"
          >
            <button
              (click)="getUserById(knowledge_area.person_id); handleModal(true)"
              class="tooltip appearance-none focus:outline-none mr-2"
            >
              <i class="fas fa-address-book text-blue-800 text-xl"></i>
              <span class="tooltiptext">Datos del Autor</span>
            </button>
            <button
              (click)="getFile(knowledge_area.files)"
              class="tooltip appearance-none focus:outline-none ml-2"
            >
              <i class="fas fa-file-invoice text-green-700 text-xl"></i>
              <span class="tooltiptext">Archivo Adjunto</span>
            </button>
          </td>
          <td
            *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Organizador'"
            class="px-5 py-5e text-sm text-center"
          >
            <div *ngIf="knowledge_area.status_quelification !== false">
              <button
                id="btn"
                class="tooltip appearance-none focus:outline-none mr-2"
              >
                <i class="fas fa-check text-green-700 text-xl"></i>
                <span
                  class="
                    tooltip
                    appearance-none
                    focus:outline-none
                    mr-2
                    tooltiptext
                  "
                  >Calificado</span
                >
              </button>
            </div>
            <div *ngIf="knowledge_area.status_quelification !== true">
              <button class="tooltip appearance-none focus:outline-none mr-2">
                <i class="fas fa-times text-red-700 text-xl"></i>
                <span
                  class="
                    tooltip
                    appearance-none
                    focus:outline-none
                    mr-2
                    tooltiptext
                  "
                  >Por Calificar</span
                >
              </button>
            </div>
          </td>
          <td
            *ngIf="dataUser.rol !== 'Ponente' && dataUser.rol !== 'Organizador'"
            class="px-5 py-5e text-sm text-center"
          >
            <button
              class="tooltip appearance-none focus:outline-none mr-2"
              (click)="showGrade(knowledge_area._id)"
            >
              <i class="fas fa-eye text-blue-600 text-xl"></i>
              <span
                class="
                  tooltip
                  appearance-none
                  focus:outline-none
                  mr-2
                  tooltiptext
                "
                >Ver Nota</span
              >
            </button>
          </td>
          <td
            *ngIf="
              dataUser.rol !== 'Ponente' &&
              dataUser.rol !== 'Organizador' &&
              congressEnabled &&
              rubricCreated
            "
            class="px-5 py-5 flex-1 text-sm text-center"
          >
            <div>
              <button
                *ngIf="knowledge_area.status_quelification != false"
                class="tooltip appearance-none focus:outline-none ml-2"
              >
                <i class="fas fa-marker text-gray-700 text-xl"></i>
                <span class="tooltiptext">Ponencia Calificada</span>
              </button>
            </div>
            <div>
              <button
                *ngIf="knowledge_area.status_quelification != false"
                (click)="create(knowledge_area)"
                routerLink="../put-qualifications"
                class="tooltip appearance-none focus:outline-none ml-2"
              >
                <i class="fas fa-edit text-blue-600 text-xl"></i>
                <span class="tooltiptext">Editar</span>
              </button>
            </div>
            <div>
              <button
                *ngIf="knowledge_area.status_quelification != true"
                (click)="create(knowledge_area)"
                routerLink="../evaluation"
                class="tooltip appearance-none focus:outline-none ml-2"
              >
                <i class="fas fa-marker text-gray-700 text-xl"></i>
                <span class="tooltiptext">Calificar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>

      <!--   TBODY FOR SPEAKER   -->
      <tbody *ngIf="dataUser.rol == 'Ponente'">
        <tr
          *ngFor="
            let project of projectsSpeaker
              | paginate: { itemsPerPage: 5, currentPage: page }
          "
          class="border-b border-gray-200 hover:bg-gray-100"
        >
          <td class="px-1 py-5 text-sm text-center">
            <p class="text-gray-900">{{ project.title_project }}</p>
          </td>
          <td class="px-5 py-5 text-sm text-justify">
            <p class="text-gray-900">{{ project.summary_project }}</p>
          </td>
          <td class="px-5 py-5e text-sm text-center">
            <p class="text-gray-900">{{ project.knowledge_area }}</p>
          </td>
          <td class="px-5 py-5 flex-1 text-sm text-center">
            <button
              class="tooltip appearance-none focus:outline-none ml-2"
              (click)="getFile(project.files)"
            >
              <i class="fas fa-file-invoice text-green-700 text-xl"></i>
              <span class="tooltiptext">Elegir PDF</span>
            </button>
          </td>
          <td
            *ngIf="dataUser.rol == 'Ponente'"
            class="px-5 py-5e text-sm text-center"
          >
            <div
              *ngIf="
                project.status !== 'Aprobado' && project.status !== 'Reprobado'
              "
            >
              <button
                id="btn"
                class="tooltip appearance-none focus:outline-none mr-2"
              >
                <i class="fas fa-clock text-blue-700 text-xl"></i>
                <span
                  class="
                    tooltip
                    appearance-none
                    focus:outline-none
                    mr-2
                    tooltiptext
                  "
                  >Pendiente</span
                >
              </button>
            </div>
            <div
              *ngIf="
                project.status !== 'Pendiente' && project.status !== 'Reprobado'
              "
            >
              <button
                id="btn"
                class="tooltip appearance-none focus:outline-none mr-2"
              >
                <i class="fas fa-thumbs-up text-green-700 text-xl"></i>
                <span
                  class="
                    tooltip
                    appearance-none
                    focus:outline-none
                    mr-2
                    tooltiptext
                  "
                  >Aprobado</span
                >
              </button>
            </div>
            <div
              *ngIf="
                project.status !== 'Aprobado' && project.status !== 'Pendiente'
              "
            >
              <button
                id="btn"
                class="tooltip appearance-none focus:outline-none mr-2"
              >
                <i class="fas fa-thumbs-down text-red-700 text-xl"></i>
                <span
                  class="
                    tooltip
                    appearance-none
                    focus:outline-none
                    mr-2
                    tooltiptext
                  "
                  >Reprobado</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div
      *ngIf="projectsSpeaker.length == 0 && dataUser.rol == 'Ponente'"
      class="w-full flex justify-center"
    >
      <p class="font-thin">No hay proyectos para mostrar</p>
    </div>

    <div class="w-full flex justify-center">
      <pagination-controls
        class="flex text-center"
        (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      >
      </pagination-controls>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  *ngIf="showModal"
  class="
    flex
    items-center
    justify-center
    fixed
    left-0
    bottom-0
    w-full
    h-full
    bg-gray-800 bg-opacity-75
    z-50
  "
>
  <div class="flex flex-col w-2/3 h-auto p-3 bg-white rounded">
    <h1 class="w-full h-full text-center uppercase py-3 font-bold text-md">
      Datos del Autor
    </h1>

    <hr />

    <div
      class="
        flex
        w-full
        h-auto
        py-6
        px-10
        items-center
        justify-between
        bg-gray-200
        rounded
        text-gray-800
      "
    >
      <div class="flex flex-col w-1/2 justify-center" *ngIf="userData">
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Nombres:</h2>
          <p class="w-1/2">{{ userData.names }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Apellidos:</h2>
          <p class="w-1/2">{{ userData.last_names }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Rol:</h2>
          <p class="w-1/2">{{ userData.rol }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Tipo de Identificación:</h2>
          <p class="w-1/2">{{ userData.type_dni }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Número de identificación:</h2>
          <p class="w-1/2">{{ userData.dni }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Nivel académico:</h2>
          <p class="w-1/2">{{ userData.level_academy }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Titulo Académico:</h2>
          <p class="w-1/2">{{ userData.title }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Teléfono:</h2>
          <p class="w-1/2">{{ userData.phone }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold w-1/2">Correo Electrónico:</h2>
          <p class="w-1/2">{{ userData.email }}</p>
        </div>
      </div>

      <div
        class="flex w-1/2 justify-center"
        *ngIf="
          (dataUser.rol == 'Organizador' || dataUser.rol == 'Participante') &&
          profile_picture_url !== ''
        "
      >
        <img [src]="profile_picture_url" class="w-64" alt="Foto de Perfil" />
      </div>
    </div>

    <hr />
    <div class="py-2 w-full flex justify-end">
      <button
        (click)="handleModal(false)"
        class="
          align-middle
          bg-red-500
          hover:bg-red-600
          text-center
          py-1
          px-4
          text-white text-sm
          font-semibold
          rounded-lg
          shadow-lg
          focus:outline-none
          flex
          items-center
        "
      >
        <i class="fas fa-window-close mr-1"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="showModalRemark"
  class="
    flex
    items-center
    justify-center
    fixed
    left-0
    bottom-0
    w-full
    h-full
    bg-gray-800 bg-opacity-75
    z-50
  "
>
  <div class="flex flex-col w-2/3 h-auto p-3 bg-white rounded">
    <h1 class="w-full h-full text-center uppercase py-3 font-bold text-md">
      Observaciones
    </h1>

    <hr />

    <div
      class="
        flex
        w-full
        h-auto
        py-6
        px-10
        items-center
        justify-between
        bg-gray-200
        rounded
        text-gray-800
      "
    >
      <table class="w-full" *ngIf="remarks">
        <thead class="bg-blue-500">
          <tr class="flex w-full text-center">
            <th class="border border-black w-1/2">Criterio</th>
            <th class="border border-black w-1/2">Observación</th>
          </tr>
        </thead>

        <tbody>
          <tr class="flex w-full" *ngFor="let remark of remarks">
            <td class="border border-black p-2 w-1/2">{{ remark.criteria }}</td>
            <td class="border border-black p-2 w-1/2">{{ remark.remark }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr />
    <div class="py-2 w-full flex justify-end">
      <button
        (click)="handleModalRemark(false)"
        class="
          align-middle
          bg-red-500
          hover:bg-red-600
          text-center
          py-1
          px-4
          text-white text-sm
          font-semibold
          rounded-lg
          shadow-lg
          focus:outline-none
          flex
          items-center
        "
      >
        <i class="fas fa-window-close mr-1"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>
