<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2
      *ngIf="dataUser.rol !== 'Ponente'"
      class="py-4 text-2xl font-semibold text-gray-800 border-b"
    >
      Lista de Postulaciones
    </h2>
    <div
      class="flex border-b justify-between"
      *ngIf="dataUser.rol == 'Ponente'"
    >
      <div>
        <h2 class="py-4 text-2xl font-semibold text-gray-800">
          Postulaciones Realizadas
        </h2>
      </div>
      <div>
        <button
          routerLink="../post-postulation"
          class="
            focus:outline-none
            py-5
            text-center text-gray-700
            bg-white
            hover:text-black
            font-medium
          "
        >
          <i class="fa fa-plus pr-2"></i>Nueva Postulacion
        </button>
      </div>
    </div>

    <div class="py-6">
      <div class="inline-block shadow rounded-lg">
        <table
          *ngIf="
            (projectsSpeaker.length > 0 && dataUser.rol == 'Ponente') ||
            dataUser.rol == 'Organizador' ||
            dataUser.rol == 'Revisor'
          "
        >
          <thead>
            <tr class="border-b-2 border-gray-200 bg-gray-200">
              <th class="px-5 py-3 text-left text-sm text-gray-600">
                Título del proyecto
              </th>
              <th class="px-5 py-3 text-left text-sm text-gray-600">Resumen</th>
              <th class="px-5 py-3 text-left text-sm text-gray-600">
                Área de conocimiento
              </th>
              <th
                *ngIf="dataUser.rol !== 'Ponente'"
                class="px-5 py-3 text-left text-sm text-gray-600"
              >
                Acciones
              </th>
              <th
                *ngIf="dataUser.rol == 'Ponente'"
                class="px-5 py-3 text-left text-sm text-gray-600"
              >
                Acciones
              </th>

              <th
                *ngIf="dataUser.rol !== 'Revisor'"
                class="px-5 py-3 text-left text-sm text-gray-600"
              >
                Estado
              </th>
              <th
                *ngIf="dataUser.rol !== 'Ponente'"
                class="px-5 py-3 text-left text-sm text-gray-600"
              >
                Rubrica
              </th>
            </tr>
          </thead>
          <!--   BODY FOR ADMIN AND ORGANIZER   -->
          <tbody *ngIf="dataUser.rol !== 'Ponente'">
            <!-- agregar un console en esta linea -->
            <tr
              *ngFor="let postulation of postulations"
              class="border-b border-gray-200 hover:bg-gray-100"
            >
              <td class="px-1 py-5 text-sm text-center">
                <p class="text-gray-900">{{ postulation.title_project }}</p>
              </td>
              <td class="px-5 py-5 text-sm text-justify">
                <p class="text-gray-900">{{ postulation.summary_project }}</p>
              </td>
              <td class="px-5 py-5e text-sm text-center">
                <p class="text-gray-900">{{ postulation.knowledge_area }}</p>
              </td>
              <td
                *ngIf="dataUser.rol !== 'Ponente'"
                class="px-5 py-5 flex-1 text-sm text-center"
              >
                <button
                  (click)="getUserById(postulation.person_id)"
                  onclick="document.getElementById('myModal').showModal()"
                  id="btn"
                  class="tooltip appearance-none focus:outline-none mr-2"
                >
                  <i class="fas fa-address-book text-blue-800 text-xl"></i>
                  <span class="tooltiptext">Datos del autor</span>
                </button>
                <button class="tooltip appearance-none focus:outline-none ml-2">
                  <i class="fas fa-file-invoice text-green-700 text-xl"></i>
                  <span class="tooltiptext">Archivo adjunto</span>
                </button>
              </td>
            </tr>
          </tbody>
          <!--   TBODY FOR SPEAKER   -->
          <tbody *ngIf="dataUser.rol == 'Ponente'">
            <tr
              *ngFor="let project of projectsSpeaker"
              class="border-b border-gray-200 hover:bg-gray-100"
            >
              <td class="px-1 py-5 text-sm text-center">
                <p class="text-gray-900">{{ project.title_project }}</p>
              </td>
              <td class="px-5 py-5 text-sm text-justify">
                <p class="text-gray-900">{{ project.summary_project }}</p>
              </td>
              <td class="px-5 py-5e text-sm text-center">
                <p class="text-gray-900">{{ project.knowledge_area }}</p>
              </td>
              <td class="px-5 py-5 flex-1 text-sm text-center">
                <button
                  class="tooltip appearance-none focus:outline-none ml-2"
                  (click)="getFile(project.files)"
                >
                  <i class="fas fa-file-invoice text-green-700 text-xl"></i>
                  <span class="tooltiptext">Elegir PDF</span>
                </button>
              </td>

              <td class="px-5 py-5e text-sm text-center">
                <p class="text-gray-900">pendiente</p>
                <div
                class="
                    relative
                    inline-block
                    w-10
                    mr-2
                    align-middle
                    select-none
                    transition
                    duration-200
                    ease-in">
                    <input (click)="disableEnableSpeaker(userData._id, (userData.status = false))"
                    type="button"
                    *ngId="user.status == true"
                    checked
                    class="class=
                    toggle-checkbox
                    absolute
                    block
                    w-6
                    h-6
                    rounded-full
                    bg-white
                    border-4
                    appearance-none
                    focus:outline-none
                    cursor-pointer"/>

                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        *ngIf="projectsSpeaker.length == 0 && dataUser.rol == 'Ponente'"
        class="w-full text-center"
      >
        <p class="font-thin">No hay proyectos para mostrar</p>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<dialog id="myModal" class="h-auto w-11/12 md:w-1/2 p-5 bg-white rounded-md">
  <div class="flex flex-col w-full h-auto">
    <div class="flex w-full h-auto justify-between">
      <div class="h-auto pb-5 pl-2 text-2xl">
        <i class="fas fa-user-circle text-blue-800 text-2xl mr-2"></i>
        Datos del autor
      </div>
      <div class="h-auto pb-5 pr-2 text-2xl">
        <i
          onclick="document.getElementById('myModal').close();"
          class="fas fa-window-close text-red-700 text-2xl cursor-pointer"
        ></i>
      </div>
    </div>
    <!-- *ngFor="let element of userById" -->
    <div
      class="w-fullh-autopy-6px-10items-centerbg-gray-200 rounded text-gray-800"
    >
      <!-- <div *ngIf="personId === userData._id"> -->
      <div class="flex py-2">
        <h2 class="font-bold mr-3">Nombres:</h2>
        <p>{{ userData.names }}</p>
      </div>
      <div class="flex py-2">
        <h2 class="font-bold mr-3">Apellidos:</h2>
        <p>{{ userData.last_names }}</p>
      </div>
      <div class="flex py-2">
        <h2 class="font-bold mr-3">Rol:</h2>
        <p>{{ userData.rol }}</p>
      </div>
      <div class="flex py-2">
        <h2 class="font-bold mr-3">Tipo de identificación:</h2>
        <p>{{ userData.type_dni }}</p>
      </div>
      <div class="flex py-2">
        <h2 class="font-bold mr-3">Número de identificación:</h2>
        <p>{{ userData.dni }}</p>
      </div>
      <div class="flex py-2">
        <h2 class="font-bold mr-3">Nivel académico:</h2>
        <p>{{ userData.level_academy }}</p>
      </div>
      <div class="flex py-2">
        <h2 class="font-bold mr-3">Titulo:</h2>
        <p>{{ userData.title }}</p>
      </div>
      <div class="flex py-2">
        <h2 class="font-bold mr-3">Teléfono:</h2>
        <p>{{ userData.phone }}</p>
      </div>
      <div class="flex py-2">
        <h2 class="font-bold mr-3">Correo electrónico:</h2>
        <p>{{ userData.email }}</p>
      </div>
      <!-- </div> -->
    </div>
  </div>
</dialog>
