<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2 class="py-4 text-2xl font-semibold text-gray-800 border-b">
      Lista de Congresos Pasados
    </h2>

    <hr />

    <table class="w-full px-3 my-4 text-center" *ngIf="congress">
      <thead>
        <tr class="border-b-2 border-gray-200 bg-gray-200">
          <th class="px-5 py-3 text-sm text-gray-600">Título de Ponencia</th>
          <th class="px-5 py-3 text-sm text-gray-600">Reglamento</th>
          <th class="px-5 py-3 text-sm text-gray-600">Área de Conocimiento</th>
          <th class="px-5 py-3 text-sm text-gray-600">Fecha de Inicio</th>
          <th class="px-5 py-3 text-sm text-gray-600">Fecha de Finalización</th>
          <th class="px-5 py-3 text-sm text-gray-600">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let element of congress" class="border-b border-gray-200 hover:bg-gray-100">
          <td class="px-1 py-5 text-sm flex justify-center">
            {{ element.name }}
          </td>
          <td class="px-5 py-5e text-sm text-center">
            <iframe class="text-xl text-justify w-full" srcdoc="{{ element.regulations }}" frameborder="0"></iframe>
          </td>

          <td class="px-5 py-5e text-sm text-center">
            {{ element.knowledge_area }}
          </td>
          <td class="px-5 py-5e text-sm text-center">
            {{ element.start_date | date: "dd/MM/yyyy"}}
          </td>
          <td class="px-5 py-5e text-sm text-center">
            {{ element.end_date | date: "dd/MM/yyyy" }}
          </td>
          <td class="px-5 py-5e text-sm text-center">
            <button (click)="getGeneralHistory(element._id)" class="tooltip appearance-none focus:outline-none mr-2">
              <i class="fas fa-info-circle text-xl text-blue-700"></i>
              <span class="tooltiptext">Información</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="w-full flex justify-center" *ngIf="!congress">
      <p class="font-thin">No hay postulaciones para mostrar</p>
    </div>
  </div>
</div>

<!-- MODAL -->
<div id="modal" class="flex items-center justify-center fixed 
    left-0 bottom-0 w-full h-full bg-gray-800 bg-opacity-75">
  <div class="flex flex-col w-2/3 bg-white">
    <div class="flex w-full px-3 items-center justify-between">
      <div class="h-auto text-2xl">
        <i class="fas fa-user-circle text-blue-800 text-2xl mr-2"></i>
        Datos del Congreso
      </div>

      <div class="text-2xl">
        <i (click)="handleModal(false)" class="fas fa-window-close text-red-700 text-2xl cursor-pointer"></i>
      </div>
    </div>
    <h2>Listado de Conferencias</h2>
    <div class="
        flex
        w-full
        h-auto
        py-6
        px-10
        items-center
        justify-between
        bg-gray-200
        rounded
        text-gray-800">
        
      <div class="flex flex-col w-1/2 justify-center" *ngFor="let conference of conferencesData">
        <div class="flex py-2">
          <h2 class="font-bold mr-3">Enlace:</h2>
          <p>{{ conference.link }}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold mr-3">Fecha de Conferencia:</h2>
          <p>{{ conference.date | date: "dd/MM/yyyy"}}</p>
        </div>
        <div class="flex py-2">
          <h2 class="font-bold mr-3">Hora:</h2>
          <p>{{ conference.hour }}</p>
        </div>
      </div>
    </div>
    <h2>Listado de Ponencias</h2>
    <div class="
        flex
        w-full
        h-auto
        py-6
        px-10
        items-center
        justify-between
        bg-gray-200
        rounded
        text-gray-800">
        
      <div class="flex flex-col w-1/2 justify-center" *ngFor="let postulations of postulationData">
        <div class="flex py-2">
          <h2 class="font-bold mr-3">Título del Proyecto:</h2>
          <p>{{ postulations.title_project }}</p>
        </div>

        <div class="flex py-2">
          <h2 class="font-bold mr-3">Resumen del Proyecto:</h2>
          <!-- <p>{{ postulations.summary_project }}</p> -->
          <iframe class="text-xl text-justify w-full" srcdoc="{{ postulations.summary_project }}"
            frameborder="0"></iframe>
        </div>

        <div class="flex flex-col w-1/2 justify-center">
          <div class="flex py-2">
            <h2 class="font-bold mr-3">Estado:</h2>
            <p>{{ postulations.status }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>