<div class="flex overflow-hidden">
  <app-sidebar></app-sidebar>

  <div class="w-full p-8">
    <div
      class="
        py-4
        text-2xl
        font-semibold
        text-gray-800
        border-b
        flex
        items-center
      "
    >
      <i class="fas fa-plus-square mr-2"></i>
      <p>Crear Congreso</p>
    </div>

    <form class="w-full flex lg:flex-row md:flex-row flex-col">
      <div class="lg:w-1/2 md:w-1/2 w-full m-2 p-2 flex flex-col">
        <div class="flex flex-col py-2">
          <label class="font-thin text-md"> Nombre del congreso: </label>
          <input
            [(ngModel)]="modelCongress.name"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="text"
            name="name"
          />
        </div>

        <div class="flex flex-col py-2">
          <label class="font-thin text-md"> Dirección web: </label>
          <input
            [(ngModel)]="modelCongress.address_web"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="text"
            name="address_web"
          />
        </div>

        <div class="flex py-2">
          <div class="w-1/2 mx-2 flex flex-col">
            <label class="font-thin text-md"> Fecha inicio: </label>
            <input
              [(ngModel)]="modelCongress.start_date"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              type="date"
              name="start_date"
              min="{{ today }}"
            />
          </div>

          <div class="w-1/2 mx-2 flex flex-col">
            <label class="font-thin text-md"> Fecha finalización: </label>
            <input
              [(ngModel)]="modelCongress.end_date"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              type="date"
              name="end_date"
              min="{{ today }}"
            />
          </div>
        </div>

        <div class="flex py-2">
          <div class="w-1/2 mx-2 flex flex-col">
            <label class="font-thin text-md"> Capacidad de ponentes: </label>
            <input
              [(ngModel)]="modelCongress.capacity_speakers"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              type="number"
              min="1"
              name="capacity_speakers"
            />
          </div>

          <div class="w-1/2 mx-2 flex flex-col">
            <label class="font-thin text-md">
              Capacidad de participantes:
            </label>
            <input
              [(ngModel)]="modelCongress.capacity_participants"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              type="number"
              min="1"
              name="capacity_participants"
            />
          </div>
        </div>

        <div class="flex flex-col py-2">
          <label class="font-thin text-md flex">
            <p class="mr-1">Áreas de Conocimiento:</p>
            <p class="text-sm">(Separa cada área con una coma)</p>
          </label>
          <input
            [(ngModel)]="modelCongress.knowledge_area"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="array"
            name="knowledge_area"
          />
        </div>
      </div>

      <div class="lg:w-1/2 md:w-1/2 w-full m-2 p-2 flex flex-col">
        <div class="flex flex-col">
          <label class="font-thin text-md"> Reglamento: </label>
          <ckeditor
            [editor]="Editor"
            [(ngModel)]="modelCongress.regulations"
            name="regulations"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
          ></ckeditor>
        </div>

        <div class="flex justify-between items-center mt-8">
          <button
            routerLink="/dashboard/congresses"
            class="
              focus:outline-none
              py-1
              px-4
              rounded-lg
              shadow-sm
              text-center text-gray-600
              bg-white
              hover:bg-gray-100
              font-medium
              border
              flex
              items-center
            "
          >
            <i class="fas fa-undo mr-1"></i>
            Cancelar
          </button>

          <button
            (click)="postCongress()"
            class="
              focus:outline-none
              border border-transparent
              py-1
              px-4
              rounded-lg
              shadow-sm
              text-center text-white
              bg-blue-500
              hover:bg-blue-600
              font-medium
              flex
              items-center
            "
          >
            <i class="fas fa-save mr-1"></i>
            Grabar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
