<div class="flex overflow-hidden">
  <app-sidebar></app-sidebar>

  <div class="w-full p-8">
    <div
      class="
        py-4
        text-2xl
        font-semibold
        text-gray-800
        border-b
        flex
        items-center
      "
    >
      <i class="fas fa-plus-square mr-2"></i>
      <p>Crear Congreso</p>
    </div>

    <form
      [formGroup]="congressForm"
      class="w-full flex lg:flex-row md:flex-row flex-col"
    >
      <div class="lg:w-1/2 md:w-1/2 w-full m-2 p-2 flex flex-col">
        <div class="flex flex-col py-2">
          <label class="font-thin text-md"> Nombre del congreso: </label>
          <input
            formControlName="name"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="text"
          />
        </div>

        <!-- <div class="flex flex-col py-2">
          <label class="font-thin text-md"> Dirección web: </label>
          <input
          formControlName="address_web"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="text"
          />
        </div> -->

        <div class="flex py-2">
          <div class="w-1/2 mr-2 flex flex-col">
            <label class="font-thin text-md"> Fecha inicio: </label>
            <input
              formControlName="start_date"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              type="date"
              min="{{ today }}"
            />
          </div>

          <div class="w-1/2 ml-2 flex flex-col">
            <label class="font-thin text-md"> Fecha finalización: </label>
            <input
              formControlName="end_date"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              type="date"
              min="{{ today }}"
            />
          </div>
        </div>

        <div class="flex py-2">
          <div class="w-1/2 mr-2 flex flex-col">
            <label class="font-thin text-md"> Capacidad de ponentes: </label>
            <input
              formControlName="capacity_speakers"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              type="number"
              min="1"
            />
          </div>

          <div class="w-1/2 ml-2 flex flex-col">
            <label class="font-thin text-md">
              Capacidad de participantes:
            </label>
            <input
              formControlName="capacity_participants"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              type="number"
              min="1"
            />
          </div>
        </div>

        <div class="flex flex-col py-2">
          <label class="font-thin text-md flex">
            <p class="mr-1">Áreas de Conocimiento:</p>
            <p class="text-sm">(Separa cada área con una coma)</p>
          </label>
          <input
            formControlName="knowledge_area"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="text"
          />
        </div>

        <div class="flex flex-col py-2 w-full">
          <label class="font-thin text-md flex"> Portada: </label>
          <input
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            type="file"
            (change)="handleFileInput($event)"
          />
          <div class="w-full flex justify-center">
            <img class="w-64" [src]="imagePreview" />
          </div>
        </div>
      </div>

      <div class="lg:w-1/2 md:w-1/2 w-full m-2 p-2 flex flex-col">
        <div class="flex flex-col">
          <label class="font-thin text-md"> Reglamento: </label>
          <ckeditor
            [editor]="Editor"
            formControlName="regulations"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
          ></ckeditor>
        </div>

        <div class="flex justify-between items-center mt-8">
          <button
            routerLink="/dashboard/congresses"
            class="
              focus:outline-none
              py-1
              px-4
              rounded-lg
              shadow-sm
              text-center text-gray-600
              bg-white
              hover:bg-gray-100
              font-medium
              border
              flex
              items-center
            "
          >
            <i class="fas fa-undo mr-1"></i>
            Regresar
          </button>

          <button
            (click)="postCongress()"
            class="
              focus:outline-none
              border border-transparent
              py-1
              px-4
              rounded-lg
              shadow-sm
              text-center text-white
              bg-blue-500
              hover:bg-blue-600
              font-medium
              flex
              items-center
            "
          >
            <i class="fas fa-save mr-1"></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
