<app-header></app-header>

<div
  class="
    py-2
    w-full
    border-b border
    flex
    text-gray-600
    font-bold
    text-4xl
    px-12
    items-center
  "
>
  <i class="fas fa-user py-2 mr-5"></i>
  <h1 class="">Registro Ponente</h1>
</div>

<div class="w-full h-full flex px-12 py-2">
  <div class="w-1/2 p-2">
    <div class="py-2 text-gray-700 flex w-full">
      <div class="w-1/2 px-1">
        <label class="font-bold mb-1 block">Tipo de identificación:</label>
        <div class="relative">
          <select
            name="type_dni"
            [(ngModel)]="person.type_dni"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              leading-tight
              focus:outline-none
            "
          >
            <option value="">Seleccione..</option>
            <option>Cédula</option>
            <option>Pasaporte</option>
          </select>
          <div class="absolute right-0 bottom-0 top-0 px-3 py-2 text-gray-600">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
      </div>

      <div class="w-1/2 px-1">
        <div *ngIf="person.type_dni == 'Cédula'">
          <label class="font-bold mb-1 text-gray-700 block"
            >Número de identificación:</label
          >
          <input
            name="dni"
            [(ngModel)]="person.dni"
            type="text"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            placeholder="Ej: 1722334455"
            maxlength="10"
          />
        </div>
        <div *ngIf="person.type_dni == 'Pasaporte'">
          <label class="font-bold mb-1 text-gray-700 block"
            >Número de identificación:</label
          >
          <input
            name="dni"
            [(ngModel)]="person.dni"
            type="text"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            placeholder="Ej: 2222222222"
            maxlength="10"
          />
        </div>
      </div>
    </div>

    <div class="w-full py-2 flex">
      <div class="w-1/2 px-1">
        <label class="font-bold mb-1 text-gray-700 block">Nombres:</label>
        <input
          name="names"
          [(ngModel)]="person.names"
          type="text"
          class="
            focus:border-blue-500
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none
          "
          placeholder="Ej: Marco Antonio"
        />
      </div>

      <div class="w-1/2 px-1">
        <label class="font-bold mb-1 text-gray-700 block">Apellidos:</label>
        <input
          name="last_names"
          [(ngModel)]="person.last_names"
          type="text"
          class="
            focus:border-blue-500
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none
          "
          placeholder="Ej: Jumbo Estrada"
        />
      </div>
    </div>

    <div class="w-full flex py-2">
      <div class="w-1/2 px-1 text-gray-700">
        <label class="font-bold mb-1 block">Nivel académico:</label>
        <div class="relative">
          <select
            name="level_academy"
            [(ngModel)]="person.level_academy"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              leading-tight
              focus:outline-none
            "
          >
            <option value="">Seleccione..</option>
            <option>Segundo Nivel</option>
            <option>Tercer Nivel</option>
            <option>Masterado</option>
          </select>
          <div class="absolute right-0 bottom-0 top-0 px-3 py-2 text-gray-600">
            <i class="fas fa-angle-down"></i>
          </div>
        </div>
      </div>

      <div class="w-1/2 px-1">
        <label class="font-bold mb-1 text-gray-700 block"
          >Título Académico:</label
        >
        <input
          name="title"
          [(ngModel)]="person.title"
          type="text"
          class="
            focus:border-blue-500
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none
          "
          placeholder="Ej: Ing. Sistemas"
        />
      </div>
    </div>
  </div>

  <div class="w-1/2 p-2">
    <div class="w-full py-2">
      <label class="font-bold mb-1 text-gray-700 block">Teléfono:</label>
      <input
        name="phone"
        [(ngModel)]="person.phone"
        type="text"
        class="
          focus:border-blue-500
          appearance-none
          border
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          leading-tight
          focus:outline-none
        "
        placeholder="Ej: 0999999999"
        maxlength="10"
      />
    </div>

    <div class="w-full py-2">
      <label class="font-bold mb-1 text-gray-700 block"
        >Correo electrónico:</label
      >
      <input
        name="email"
        [(ngModel)]="person.email"
        type="email"
        class="
          focus:border-blue-500
          appearance-none
          border
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          leading-tight
          focus:outline-none
        "
        placeholder="marco@example.com"
      />
    </div>

    <div class="w-full py-2">
      <label class="font-bold mb-1 text-gray-700 block">Contraseña:</label>
      <div class="relative">
        <input
          name="password"
          [(ngModel)]="person.password"
          type="password"
          [type]="viewPassword ? 'password' : 'text'"
          class="
            focus:border-blue-500
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none
          "
          placeholder="******"
        />
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center py-12">
  <button
    (click)="postPerson()"
    class="
      align-middle
      bg-blue-500
      hover:bg-blue-600
      text-center
      py-2
      px-5
      text-white text-sm
      font-semibold
      rounded-lg
      shadow-lg
      focus:outline-none
      flex
      items-center
      justify-center
      mx-3
    "
  >
    <i class="fas fa-sign-in-alt mr-1"></i>
    Registrarme
  </button>

  <button
    routerLink="/home"
    class="
      focus:outline-none
      py-2
      px-5
      rounded-lg
      shadow-sm
      text-center text-gray-600
      bg-white
      hover:bg-gray-100
      font-medium
      border
      mx-3
    "
  >
    Cancelar
  </button>
</div>
