<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-8">
    <h2 class="py-4 text-2xl font-semibold text-gray-800 border-b">
      Asignación de Revisores
    </h2>

    <form
      class="w-full py-6 flex lg:flex-row md:flex-row flex-col items-center"
    >
      <div class="lg:w-1/3 md:w-1/3 w-full flex flex-col px-3 py-2">
        <label class="font-thin text-xl">Revisor</label>
        <select
          class="
            focus:border-blue-500
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none
          "
          [(ngModel)]="selected_reviewer"
          name="selected_reviewer"
        >
          <option value="">Seleccione...</option>
          <option
            *ngFor="let user of users"
            value="{{ user.last_names }} {{ user.names }}"
          >
            {{ user.names }} {{ user.last_names }}
          </option>
        </select>
      </div>

      <div class="lg:w-1/3 md:w-1/3 w-full flex flex-col px-3 py-2">
        <label class="font-thin text-xl mr-5"> Área de conocimiento: </label>
        <select
          class="
            focus:border-blue-500
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-gray-700
            leading-tight
            focus:outline-none
          "
          [(ngModel)]="selected_knowledge_area"
          name="selected_knowledge_area"
        >
          <option value="">Seleccione..</option>
          <option *ngFor="let area of knowledge_area" value="{{ area }}">
            {{ area }}
          </option>
        </select>
      </div>

      <div class="lg:w-1/3 md:w-1/3 w-full flex flex-col px-3 py-2">
        <button
          routerLink="/dashboard/assignment"
          class="
            focus:outline-none
            py-1
            px-4
            rounded-lg
            shadow-sm
            text-center text-gray-700
            bg-white
            hover:bg-blue-400 hover:text-white
            font-medium
            border
            mr-2
            flex
            items-center
            justify-center
          "
          (click)="postAssignment()"
        >
          <i class="fas fa-save mr-1"></i>
          Grabar
        </button>
      </div>
    </form>

    <div class="py-8 w-full">
      <h2 class="text-center py-2 text-2xl">Lista de Asignados</h2>
      <table class="rounded border-2 w-full">
        <thead class="bg-gray-200">
          <tr>
            <td class="w-1/2 text-center">Revisor</td>
            <td class="w-1/2 text-center">Área de conocimiento</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of assignmentReviewers; let i = index">
            <td class="w-1/2 px-2 text-center">
              {{ data.reviewer_name }}
            </td>
            <td class="w-1/2 px-2 text-center">
              {{ data.knowledge_area }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
