<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2 class="py-4 text-2xl font-semibold text-gray-800 border-b">
      Lista de Ponencias Aprobadas
    </h2>

    <hr />

    <table class="w-full px-3 my-4 text-center">
      <thead>
        <tr class="border-b-2 border-gray-200 bg-gray-200">
          <th class="px-5 py-3 text-sm text-gray-600">Título de Ponencia</th>
          <th class="px-5 py-3 text-sm text-gray-600">Estado</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let postulation of postulations" class="border-b border-gray-200 hover:bg-gray-100">
          <td class="px-1 py-5 text-sm flex justify-center">
            <p class="text-gray-900">
              {{postulation.title_project}}
            </p>
          </td>
          <td class="px-1 py-5 text-sm flex justify-center">
            <p class="text-gray-900">apropado</p>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="dataUser.rol !== 'Participante'" class="w-full flex justify-center">
      <p class="font-thin">No hay conferencias para mostrar</p>
    </div>
  </div>
</div>