<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <h2 class="py-4  text-2xl font-semibold text-gray-800 border-b">
      Calificar

      <button class="tooltip appearance-none  px-7 font-semibold text-gray-800 border-b"
        onclick="document.getElementById('myModal').showModal()" id="btn">
        <span class="tooltiptext">Ayuda</span>
        <i class="fas fa-question font-semibold text-red-800 border-b"></i>
      </button>

    </h2>
    <div class="block md:flex items-center">
      <h2 class="py-4 text-2xl font-semibold text-gray-800 border-b">
        Calificación Final | {{ sumreviewersRatings }} / 100
      </h2>
    </div>

    <div class="py-6">
      <form class="form-horizontal mx-auto">
        <table class="w-full">
          <thead>
            <tr class="border-b-2 border-gray-200 bg-gray-200">
              <br>
              <th class="px-5 py-3 text-left text-sm text-gray-600">Nota</th>
              <th class="px-5 py-3 text-left text-sm text-gray-600">
                Observacion
              </th>
              <th class="px-5 py-3 text-left text-sm text-gray-600">
                Calificar
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b-2 border-gray-200 bg-gray-200">
              <br>
              <th class="px-5 py-3 text-left text-sm text-gray-600">
                <input class="
                    focus:border-blue-500
                    appearance-none
                    border
                    rounded
                    w-full
                    py-2
                    px-3
                    text-gray-700
                    leading-tight
                    focus:outline-none
                  " type="number" [(ngModel)]="inputreviewersRating" name="inputreviewersRating" />
              </th>
              <th class="px-5 py-3 text-left text-sm text-gray-600">
                <input class="
                    focus:border-blue-500
                    appearance-none
                    border
                    rounded
                    w-full
                    py-2
                    px-3
                    text-gray-700
                    leading-tight
                    focus:outline-none
                  " type="text" [(ngModel)]="inputremark" name="inputremark" />
              </th>
              <th class="px-5 py-3 text-left text-sm text-gray-600">
                <button (click)="addQuality()" class="w-full">Add</button>
              </th>
            </tr>
          </tbody>
        </table>
        <div class="block md:flex items-center">
          <h2 class="py-4 text-2xl font-semibold text-gray-800 border-b">
            Parametros a calificar:
          </h2>
        </div>
        <br>
        <table class="w-full">
          <thead class="border-b-2 border-gray-200 bg-blue-200">
            <tr>
              <th class="px-5 py-3 text-left text-sm text-gray-600">
                Parametros
              </th>
              <td *ngFor="let parametro of parameters ; let i = index">
                {{i+1}}: {{ parametro }}
              </td>
            </tr>
            <tr>
              <th class="px-5 py-3 text-left text-sm text-gray-600">Notas</th>
              <td *ngFor="let observacion of scoreRemarks[2]">
                {{ observacion }}
              </td>
            </tr>
            <tr>
              <th class="px-5 py-3 text-left text-sm text-gray-600">
                Observaciones
              </th>
              <td *ngFor="let nota of scoreRemarks[1]">
                {{ nota }}
              </td>
            </tr>
          </thead>
        </table>
        <br>
        <div class="block md:flex items-center justify-between">
          <button (click)="editQualification()" class="
              align-middle
              bg-blue-500
              hover:bg-blue-600
              text-center
              px-4
              py-2
              text-white text-sm
              font-semibold
              rounded-lg
              inline-block
              shadow-lg
              focus:outline-none
            ">
            Guardar
          </button>
        </div>
      </form>
      <!-- MODAL -->
      <dialog id="myModal" class="lex flex-col w-flex h-flex">
        <div class="flex flex-col">
          <div class="flex w-full h-auto justify-between">
            <div class="h-auto pb-5 pl-2 text-2xl">
              <i class="fas fa-book-open text-blue-800 text-2xl mr-2"></i>
              Indicaciones
              <div class="h-auto pb-5 pr-2 text-2xl">
                <i onclick="document.getElementById('myModal').close();"
                  class="fas fa-window-close text-red-700 text-2xl cursor-pointer"></i>
              </div>
              <div class="w-full h-full items-center bg-gray-200 rounded text-gray-800">
                <div class="flex">
                  <img src="/assets/img/ayuda.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </dialog>
    </div>
  </div>
</div>