<div class="w-full h-full">
  <app-header></app-header>

  <div class="flex bg-white" style="height: 600px">
    <div
      class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2"
    >
      <div class="w-full h-full justify-center py-6 flex flex-col">
        <div class="w-full h-full flex flex-col items-center justify-center">
          <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">
            Proyectando un mejor <span class="text-indigo-600">Futuro</span>
          </h2>
          <p class="mt-2 text-sm text-gray-500 md:text-base">
            Con una mejor experiencia para la presentación de tus proyectos,
            desde la comodidad de tu hogar hacia el mundo
          </p>
        </div>
        <h2 class="text-2xl font-semibold text-gray-800 md:text-4xl">
          Congreso en <span class="text-indigo-600">Curso</span>
        </h2>
        <br />
        <div class="w-full h-full flex items-center">
          <button
            (click)="handleSidebar(true)"
            class="
              w-1/2
              h-full
              px-1
              border
              hover:border-indigo-600
              animate-pulse
              rounded
            "
          >
            <h2
              class="
                text-xl text-center
                uppercase
                h-1/4
                font-semibold
                text-indigo-600
              "
            >
              {{ congress_habilitado.name }}
            </h2>
            <img
              class="bg-top bg-cover w-full h-3/4 rounded-t"
              [src]="see_logo"
              alt="{{ congress_habilitado.name }}"
            />
            <p
              class="text-sm font-medium text-white sm:mb-1 sm:text-indigo-600"
            >
              Click Aquí
            </p>
            <i class="fas fa-mouse text-indigo-600"></i>
          </button>
          <div class="w-1/2 px-1 flex flex-col self-start text-center">
            <h2
              class="
                text-xl text-center
                uppercase
                h-1/4
                font-semibold
                text-indigo-600
              "
            >
              Congresos Futuros
            </h2>
            <p *ngFor="let congress of congress_pendientes">
              <i class="fas fa-calendar mr-1"></i>
              {{ congress.name }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="hidden lg:block lg:w-1/2"
      style="clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%)"
    >
      <div
        class="w-full h-full bg-cover"
        style="
          background-image: url(../../assets/img/congresos.jpg);
          background-repeat: no-repeat;
        "
      >
        <div class="h-full bg-black opacity-25"></div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  id="modal"
  class="
    flex
    items-center
    justify-center
    fixed
    left-0
    bottom-0
    w-full
    h-full
    bg-gray-800 bg-opacity-75
  "
>
  <div class="flex flex-col w-1/3 h-auto p-3 bg-white">
    <div class="flex items-center w-full h-full justify-between">
      <div
        class="
          flex
          justify-between
          py-3
          font-bold
          text-md
          px-2
          uppercase
          text-black
        "
      >
        Selecciona el rol que desempeñaras
      </div>
      <i
        class="
          fas
          fa-window-close
          text-2xl
          cursor-pointer
          text-red-500
          hover:text-red-700
        "
        (click)="handleModal(false)"
      ></i>
    </div>

    <hr />

    <div class="w-full h-auto py-6 justify-center items-center text-center">
      <div class="w-full md:w-full px-3 mb-4">
        <button
          (click)="signUpAssitant()"
          class="
            appearance-none
            w-full
            border border-black
            text-black
            hover:bg-blue-700 hover:text-white
            rounded-lg
            py-3
            px-3
            leading-tight
            focus:outline-none
            flex
            items-center
            justify-center
          "
        >
          <i class="fas fa-user-plus mr-1"></i>
          Participante
        </button>
      </div>
      <div class="w-full md:w-full px-3 mb-4">
        <button
          (click)="signUpSpeaker()"
          class="
            appearance-none
            w-full
            border border-black
            text-black
            hover:bg-blue-700 hover:text-white
            rounded-lg
            py-3
            px-3
            leading-tight
            focus:outline-none
            flex
            items-center
            justify-center
          "
        >
          <i class="fas fa-user-plus mr-1"></i>
          Ponente
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Drawer -->
<div class="fixed top-0 right-0 w-1/4 h-full">
  <nav
    id="menu"
    class="flex flex-col h-full bg-blue-800 w-full px-4 py-4 rounded-l"
  >
    <div class="flex justify-between items-center pb-5">
      <h1 class="text-xl text-white uppercase font-bold"></h1>
      <button class="text-right" (click)="handleSidebar(false)">
        <i
          class="fas fa-window-close text-red-500 text-xl hover:text-red-700"
        ></i>
      </button>
    </div>

    <hr />

    <div class="flex flex-col items-center text-white py-2">
      <button
        (click)="logIn()"
        class="
          rounded
          hover:bg-gray-900 hover:text-gray-100 hover:font-medium
          py-2
          px-3
          md:mx-2
          w-full
        "
      >
        <i class="fas fa-user py-2 mr-2"></i>Iniciar sesión
      </button>

      <button
        (click)="handleModal(true)"
        class="
          rounded
          hover:bg-gray-900 hover:text-gray-100 hover:font-medium
          py-2
          px-3
          md:mx-2
          w-full
        "
      >
        <i class="fas fa-home py-2 mr-2"></i>Regístrate
      </button>
    </div>

    <hr />

    <div class="flex flex-col text-white py-4 justify-between h-full">
      <h1 class="text-center uppercase font-bold">Información del congreso.</h1>

      <h1 class="font-bold text-2xl text-center border rounded">
        {{ congress_habilitado.name }}
      </h1>

      <div class="flex">
        <h4>Fecha de Inicio:</h4>
        <p class="font-bold text-center">
          {{ congress_habilitado.start_date | date: "dd/MM/yyyy" }}
        </p>
      </div>

      <div class="flex">
        <h4>Fecha de Finalización:</h4>
        <p class="font-bold text-center">
          {{ congress_habilitado.end_date | date: "dd/MM/yyyy" }}
        </p>
      </div>

      <div class="flex flex-col">
        <b>Reglamento:</b>
        <iframe
          class="text-xl text-justify w-full text-white"
          srcdoc="{{ congress_habilitado.regulations }}"
        ></iframe>
      </div>

      <div class="flex flex-col">
        <b class="mr-2">Áreas de Conocimiento:</b>
        <p>
          {{ congress_habilitado.knowledge_area }}
        </p>
      </div>
    </div>
  </nav>
</div>
