<div class="flex overflow-hidden">
  <app-sidebar></app-sidebar>

  <div class="w-full p-2">
    <div
      class="
        py-4
        text-2xl
        font-semibold
        text-gray-800
        border-b
        flex
        items-center
      "
    >
      <i class="fas fa-user mr-2"></i>
      <p>Registro del Revisor</p>
    </div>

    <form class="flex lg:flex-row md:flex-row flex-col text-gray-700 px-3">
      <div class="flex flex-col w-full mx-2">
        <div class="py-3 w-full flex">
          <div class="mx-1 w-full">
            <label class="font-bold mb-1 block">Tipo de identificación:</label>
            <select
              name="type_dni"
              [(ngModel)]="person.type_dni"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                flex-1
                py-2
                px-3
                leading-tight
                focus:outline-none
              "
            >
              <option value="">Seleccione..</option>
              <option>Cédula</option>
              <option>Pasaporte</option>
            </select>
          </div>

          <div class="mx-1 w-full">
            <label class="font-bold mb-1 block"
              >Número de identificación:</label
            >
            <input
              name="dni"
              [(ngModel)]="person.dni"
              type="text"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              placeholder="Ingrese número de identificación..."
            />
          </div>
        </div>

        <div class="py-3 w-full">
          <label class="font-bold mb-1 block">Nombres:</label>
          <input
            name="names"
            [(ngModel)]="person.names"
            type="text"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-gray-700
              leading-tight
              focus:outline-none
            "
            placeholder="Ingrese sus dos nombres..."
          />
        </div>

        <div class="py-3 w-full">
          <label class="font-bold mb-1 block">Apellidos:</label>
          <input
            name="last_names"
            [(ngModel)]="person.last_names"
            type="text"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              leading-tight
              focus:outline-none
            "
            placeholder="Ingrese sus dos apellidos..."
          />
        </div>

        <div class="py-3 w-full">
          <label class="font-bold mb-1 block">Teléfono:</label>
          <input
            name="phone"
            [(ngModel)]="person.phone"
            type="text"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              leading-tight
              focus:outline-none
            "
            placeholder="Ingrese su número de teléfono..."
          />
        </div>

        <div class="py-3 w-full">
          <label class="font-bold mb-1 block">Correo electrónico:</label>
          <input
            name="email"
            [(ngModel)]="person.email"
            type="email"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              leading-tight
              focus:outline-none
            "
            placeholder="Ingrese su correo electrónico..."
          />
        </div>
      </div>

      <div class="flex flex-col w-full mx-2">
        <div class="py-3 w-full">
          <label class="font-bold mb-1 block">Nivel académico:</label>
          <select
            name="level_academy"
            [(ngModel)]="person.level_academy"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              leading-tight
              focus:outline-none
            "
          >
            <option value="">Seleccione..</option>
            <option>Segundo Nivel</option>
            <option>Tercer Nivel</option>
            <option>Masterado</option>
          </select>
        </div>

        <div class="py-3 w-full">
          <label class="font-bold mb-1 block">Título Académico:</label>
          <input
            name="title"
            [(ngModel)]="person.title"
            type="text"
            class="
              focus:border-blue-500
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              leading-tight
              focus:outline-none
            "
            placeholder="Ej: Ing. Sistemas"
          />
        </div>

        <!-- <div class="py-3 w-full">
          <label class="font-bold mb-1 block">Contraseña:</label>
          <div class="relative">
            <input
              name="password"
              [(ngModel)]="person.password"
              type="password"
              [type]="viewPassword ? 'password' : 'text'"
              class="
                focus:border-blue-500
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
              "
              placeholder="Ingrese su contraseña..."
            />
            <div
              class="absolute right-0 bottom-0 top-0 px-3 py-2 cursor-pointer"
            >
              <i
                class="fas fa-eye w-6 h-6 fill-current text-gray-600"
                (click)="viewPassword = false"
                *ngIf="viewPassword == true"
              ></i>

              <i
                class="fas fa-eye-slash w-6 h-6 fill-current text-gray-600"
                (click)="viewPassword = true"
                *ngIf="viewPassword == false"
              ></i>
            </div>
          </div>
        </div> -->

        <div class="pt-24 w-full flex justify-center">
          <button
            routerLink="/dashboard/congresses"
            class="
              focus:outline-none
              py-1
              px-4
              rounded-lg
              shadow-sm
              text-center text-gray-600
              bg-white
              hover:bg-gray-100
              font-medium
              border
              mx-3
              flex
              items-center
            "
          >
            <i class="fas fa-undo mr-1"></i>
            Regresar
          </button>

          <button
            (click)="postPerson()"
            class="
              focus:outline-none
              border border-transparent
              py-1
              px-4
              rounded-lg
              shadow-sm
              text-center text-white
              bg-blue-500
              hover:bg-blue-600
              font-medium
              mx-3
              flex
              items-center
            "
          >
            <i class="fas fa-save mr-1"></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
